@import './variables.scss';

.header-container {
    position: fixed;
    top: 0;
    background: $theme-color;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: $theme-font;
    a {
        color: #fff;
        font-size: 25px;
    }
}